@font-face {
    font-family: Archivo;
    src: url(font/Archivo-VariableFont.ttf);
  }
  
  body{
      margin: 0px;
      background: black;
  }
  html, body {
      max-width: 100%;
      overflow-x: hidden;
  }
  
  
  /* Text Style ====================================== */
  
  .all-cap-title-10{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 350;
      font-size: 10pt;
      line-height: 20pt;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-stretch: 125%;
  }
  
  .all-cap-Title-12{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 350;
      font-size: 12pt;
      line-height: 20pt;
      letter-spacing: 0.18em;
      font-stretch: 125%;
  }
  
  .wide-10-regular{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 300;
      font-size: 10pt;
      line-height: 16pt;
      font-stretch: 125%;
  }
  
  .wide-12-regular{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 300;
      font-size: 12pt;
      line-height: 18pt;
      font-stretch: 125%;
  }
  
  .wide-12-bold{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 600;
      font-size: 12pt;
      line-height: 18pt;
      font-stretch: 125%;
  }
  
  .wide-12-xbold{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 900;
      font-size: 12pt;
      line-height: 18pt;
      font-stretch: 125%;
  }
  
  .wide-14-regular{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 300;
      font-size: 14pt;
      line-height: 20pt;
      letter-spacing: 0.02em;
      font-stretch: 125%;
  }
  
  .wide-14-bold{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 600;
      font-size: 14pt;
      line-height: 20pt;
      font-stretch: 125%;
  }
  
  .wide-14-xbold{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 900;
      font-size: 14pt;
      line-height: 20pt;
      font-stretch: 125%;
  }
  
  .wide-16-regular{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 300;
      font-size: 16pt;
      line-height: 20pt;
      letter-spacing: 0.02em;
      font-stretch: 125%;
  }
  
  .wide-16-bold{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 600;
      font-size: 16pt;
      line-height: 20pt;
      font-stretch: 125%;
  }
  
  .wide-16-xbold{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 900;
      font-size: 16pt;
      line-height: 20pt;
      font-stretch: 125%;
  }
  
  .wide-24-regular{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 300;
      font-size: 24pt;
      line-height: 32pt;
      letter-spacing: 0.02em;
      font-stretch: 125%;
  }
  
  .wide-24-bold{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 600;
      font-size: 24pt;
      line-height: 32pt;
      font-stretch: 125%;
  }
  
  .wide-24-xbold{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 900;
      font-size: 24pt;
      line-height: 32pt;
      font-stretch: 125%;
  }
  
  