/* lottie style ====================================== */
#starMovingContainer{
	position: fixed;
	width: 100%;
	height: 100%;
}

svg path[fill], svg rect[fill], svg g[fill] {
	fill: var(--main-color-100) !important;
}

svg path[stroke], svg rect[stroke]{
	stroke: var(--main-color-100) !important;
}


#starMovingContainer * {
	fill: var(--main-color-100);
	stroke: var(--main-color-100);
}

#starMovingContainer > svg{
	width: 200% !important;
	height: 200% !important;
	transform: translate(-25%, -25%) !important;
}

/* Header style ====================================== */

.header{
	display: flex;
	position: fixed;
	z-index: 410;
	gap: 48pt;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	/* height: 48pt; */
	padding: 12px 24px;
	transition: 0.3s ease-in-out;
}



.scolled-header{
	background: var(--bg-color-20);
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.header > span{
	width: 100pt;
	color: var(--main-color-100);
	text-align: center;
	transition: all 0.3s ease-out;
}
.header > span:hover{
	letter-spacing: 0.3em;
}

#logoAnimation {
  width: 48px;
  height: 48px;
  opacity: 0.8;
}

.loader-wrapper{
	background-color: var(--bg-color-100);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
}


/* Hero banner ====================================== */
#fallingImageSection{
	height: 100vh;
	background-color: var(--bg-color-100);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

#fallingImageSection #logoShowHide{
	display: none;
}

#fallingImageSection img{
	z-index: 100;
	border: 4px solid white;
	transform-origin: top top;
}

#animateLineHomePage{
	/* background: red; */
	position: absolute;
	bottom: 0;
	/* scale: 2; */
	transform-origin: bottom center;
	height: 100vh;
	max-width: 200vw;
	/* transform: scaleX(2) scaleY(0.6); */
}


#fallingImageSection .movingLine{
    opacity: 0.6;
	transform-origin: center center !important;
	/* transform:  translateY(0px) scaleX(1) scaleY(1); */
	transform: scaleX(1) scaleY(0.6);
}

#fallingImageSection .animateTextWidth{
	text-align: center;
	font-family: 'Archivo';
	color: white;
	font-weight: 900;
    font-stretch: 125%;
	z-index: 200;
	font-size: 100px;
	width: 100%;
	mix-blend-mode: difference;
	/* transform: translate(-0.5%, 0%); */
}


#scrollToExplore{
	position: absolute;
	bottom: -5px;
	z-index: 200;
}

.hero-text{
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 900;
	font-size: 48pt;
    /* transform: translate(0, -50px); */
	line-height: 52pt;
	text-align: center;
	letter-spacing: 0.12em;
	color: white;
	font-stretch: 125%;
	text-transform: uppercase;
	box-sizing: border-box;
}

/* landscape-section ====================================== */

.landscape-section{
	display: flex;
	flex-direction: column;
	gap: 32pt;
	padding: 100px 4vw;
	align-items: center;
	color: var(--main-color-100);
	margin-bottom: 48px;
}

.landscape-section > div {
	/* height: 80vh; */
	flex-grow: 1;
	align-self: stretch;
	justify-content: center;
	display: flex;
	box-sizing: border-box;
	text-transform: uppercase;
}

.landscape-section > div > a{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	letter-spacing: 3px !important;
	flex-basis: 25%;
	transition: 0.3s ease-in-out;
	text-align: center;
	margin: 48px 1vw;
}

.landscape-section > div > a > div{
	max-width: 500px;
	min-height: 400px;
	height: 70vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center !important;
	background-size: cover !important;
	background-color: var(--bg-color-30);
}

.landscape-section > div > a:hover{
	letter-spacing: 6px !important;
	margin: 12px 1vw;
	/* opacity: 1; */
	letter-spacing: 2pt;
	transform: scale(1.05,1.05);
	transition: all 0.3s ease-in-out;
}


/* Call-to-action Button ====================================== */

.CTA, .enter-CTA{
	border-radius: 100pt;
	padding: 16px 24px;
	border: none;
	text-transform: uppercase;
	color: var(--bg-color-100);
	background-color: var(--main-color-100);
	opacity: 1;
	transition: 0.3s ease-in-out;
	position: relative;
}

.CTA:hover, .enter-CTA{
	/* opacity: 0.8; */
	/* letter-spacing: 3pt; */
	transform: scale(1.1, 1.1);
}

.CTA:active, .enter-CTA{
	opacity: 0.8;
}


/* Footer ====================================== */

.footer{
	position: relative;
	left: 0;
	right: 0;
	display: flex;
	gap: 24px;
	padding: 32px;
	align-items: center;
	background: var(--bg-color-20);
	border-top: 0.5px solid var(--main-color-20);
	z-index: 110;
}

.footer > span{
	flex-grow: 1;
	color: var(--main-color-80);
}

span {
	color: var(--main-color-100) !important;
}

span > a {
	color: var(--main-color-100) !important;
}

a:visited{
	color: var(--main-color-100) !important;
}

a{
	text-decoration : none;
	color: var(--main-color-100);
}

.footer img{
	opacity: 0.6;
}

.footer img:hover{
	opacity: 1;
}

.footer > div{
	display: flex;
	flex-direction: row;
	gap: 32px;
}

#mobileMenuIcon{
	display: none;
}

#mobile-menu{
	background-color: var(--bg-color-20);
	z-index: 400;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	position: fixed;
	top: -100%;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0px 24px;
	/* padding-top: 54px; */
	box-sizing: border-box;
	transition: top 0.6s ease-out;
}

#mobile-menu .horizontal-separator{
	width: 100%;
}

#mobile-menu .vertical-separator{
	height: 16px;
}

#mobile-menu .social-icon{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 24px;
}


/* Style for gallery page ====================================== */

#page-title{
	display: none;
}


.toggleViewMode{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
	bottom: 120px;
	z-index: 100;
	display: flex;
	justify-content: center;
	padding: 16px 24px;
	gap: 16px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	bottom: 16px;
}

#collection-column-list{
	position: fixed;
	top: 6%;
	height: 88%;
	left: 50%;
    transform: translate(-50%, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 4px;
	z-index: 1;
}

#collection-column-list .title{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
}

#collection-column-list .header-text{
	padding: 40px;
	transform: rotate(90deg);
	color: var(--main-color-70);
	box-sizing: border-box;
	width: auto;
	height: auto;
}

#collection-column-list .collection-name{
	/* cursor: pointer; */
	opacity: 0.4;
	color: var(--main-color-100);
}

#collectionAnLacTitle, #collectionDiemNhienTitle, #collectionSoiSangTitle, #collectionDemTitle {
	opacity: 0.4;
	transition: opacity 0.6s;
}


#collection-column-list .collection-name:hover{
	opacity: 1;
}

#collection-column-list .fill-height, .fill-height > hr{
	flex: 1 0;
}

#collection-column-list hr{
	height: 4%;
	border: 0.1px solid  var(--main-color-20);
}

#gallery-container-column{
	display: flex;
	justify-content: flex-start;
	gap: 15%;
	box-sizing: border-box;
	margin: 0px 2%;
}

#gallery-container-column > div{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex: 1 0 !important;
}

#gallery-container-column .thumbnail-container{
	/* flex-grow: 1; */
	margin-bottom: 20%;
	aspect-ratio: 1/1;
	perspective: 1000px;
	perspective-origin: 50% 50%;
  }

#gallery-container-column .thumbnail{
	flex: 1 0 26% !important;
	aspect-ratio: 1/1;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	transform-style: preserve-3d;
	transform: scaleX(1) scaleY(1) scaleZ(1);
	transition: transform 0.3s ease-out;
}

#gallery-container-column-right{
	margin-top: 25vh;
}

.gallery-container-grid{
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
	justify-content: flex-start;
	align-items: center;
	padding: 72px 1px;
	box-sizing: border-box;
	overflow: hidden;
}

.gallery-container-grid .thumbnail-container{
	aspect-ratio: 1 / 1;
	flex: 1 0 15%;
	position: relative;
}

.gallery-container-grid .thumbnail{
	aspect-ratio: 1 / 1;
	position: relative;
}

.thumbnail{
	/* cursor: pointer; */
	box-sizing: border-box;
	/* transition: all 0.01s ease-in-out; */
}

.thumbnail:hover{
	opacity: 0.8 !important;
}

#gallery-container-column .thumbnail:hover{
	transform: scale(1.1,1.1) !important;
	/* filter : url('#waving2'); */
}

.imagePreviewContainer{
	position: fixed;
	display: none;
	width: 100vw;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--preview-img-bg), black;
	background-size: 80px;
	background-repeat: repeat;
	z-index: 450;
	transition: 0;
}

.swiper-overlay{
	background: var(--preview-overlay);
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	mix-blend-mode: overlay;
	position: absolute;
}

/* Slide show in gallery */
.swiper-slide{
	display: flex !important;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 270;
}

.swiper-slide img{
	max-width: 88%;
	max-height: 88%;
	z-index: 270;
	border: 12px solid transparent;
	border-image: var(--photo-frame) 12 round !important;
	filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.25)) drop-shadow(30px 32px 28px rgba(0, 0, 0, 0.1));
}


/* About page ====================================== */

.bio, .featured-brand, .contact, .equipment{
	color: var(--main-color-100);
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: flex-start;
	align-items: center;
	margin: 100px 40px;
}

.bio > img{
	width: 152px;
}

.bio span, .equipment > *{
	max-width: 1000px;
	width: 80%;
	min-width: 300px;
	text-align: center;
}

.featured-brand > .logo-list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 32px;
	max-width: 1200px;
	width: 80%;
	min-width: 300px;
}

.featured-brand img{
	height: 50px;
	opacity: 0.8;
}

.featured-brand img:hover{
	opacity: 1;
}

.contact > div{
	display: flex;
	flex-direction: row;
	gap: 32px;
}


/* Custom cursor ========================= */
* {
	cursor: none;
}

.custom-cursor {
	position: fixed;
	opacity: 0;
	pointer-events: none;
	mix-blend-mode: difference;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	transition: transform 350ms ease, height 350ms ease;
	transform: translate(-50%, -50%) scale(.3);
	z-index: 10000;
}

.custom-cursor--link {
	transform: translate(-50%, -50%) scale(1);
}


/* @media Responsiveness =========================================================== */

/* (pointer: coarse) -> device dùng touch; (pointer: fine) -> device dùng chuột */

@media only screen and (pointer: coarse) {
	.custom-cursor{
		display: none;
	}
}

@media only screen and (pointer:fine){
	.header:hover{
		background: var(--bg-color-20);
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
	}
}

/* Responsiveness ====================================== */

/* Laptop size */
@media only screen and (min-width: 760px){

	.closeBtt{
		/* cursor: pointer; */
		position: absolute;
		top: 16px;
		right: 16px;
		width: 32px;
		height: 32px;
		/* mix-blend-mode: difference; */
		z-index: 252;
		border-radius: 300px;
	}
	
	.pre-img-icon{
		cursor: none !important;
		position: absolute !important;
		top: 50% !important;
		transform: translate(0px, -50%);
		left: 16px !important;
		width: 32px !important;
		height: 32px !important;
		/* mix-blend-mode: difference; */
		z-index: 253 !important;
		border-radius: 300px;
	}
	
	.next-img-icon{
		cursor: none !important;
		position: absolute !important;
		top: 50% !important;
		transform: translate(0px, -50%);
		right: 16px !important;
		width: 32px !important;
		height: 32px !important;
		/* mix-blend-mode: difference; */
		z-index: 254 !important;
		border-radius: 300px;
	}

	.footer{
		flex-direction: row;
	}

	.footer > span{
		text-align: left
	};

	#gallery-container-column > div{
		gap: 0px;
	}
}

/* Mobile size */

@media only screen and (max-width: 759px) {
	.header{
		gap: 0px !important;
		justify-content: space-between;
		padding: 12px 24px;
	}

	.header > span{
		display: none;
	}

	.header #page-title{
		display: block;
	}

	.header #logoAnimation{
		width: 32px;
	}

	.header #mobileMenuIcon{
		width: 32px;
		height: 32px;
	}

	#mobileMenuIcon{
		display: block;
	}

	.footer{
		flex-direction: column;
	}

	.footer > span{
		text-align: center;
	}

	#collection-column-list{
		display: none !important;
	}


	.gallery-container-grid .thumbnail-container{
		flex: 1 0 26% !important;
	}

	.featured-brand > .logo-list{
		gap: 30px !important;
	}

	.featured-brand img{
		height: 40px !important;
	}

	.hero-text{
		font-family: 'Archivo';
		font-style: normal;
		font-size: 28px !important;
		line-height: 32px;
		text-align: center;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	#fallingImageSection #logoShowHide{
		display: block;
		width: 80px !important;
		height: 80px !important;
		transform: translate(0px, -50%);
		position: absolute;
		top: 35%;
	}
	
	.landscape-section{
		padding: 80px 4px 48px 4px;
	}

	#gallery-container-column {
		gap: 5%;
		margin: 12.5vh 1%;
	}

	#gallery-container-column > div{
		gap: 25vh;
	}

	#fallingImageSection .animateTextWidth{
		font-size: 32px;
	}

	.landscape-section > div{
		flex-direction: column;
	}

	.landscape-section > div > a{
		margin: 2px 0px;
	}

	.landscape-section > div > a > div{
		height: 500px;
	}

	.closeBtt{
		/* cursor: pointer; */
		position: absolute;
		bottom: 32px !important;
		left: 50%;
		transform: translate(-50%);
		width: 48px;
		height: 48px;
		/* mix-blend-mode: difference; */
		z-index: 252;
		border-radius: 300px;
	}
	
	.pre-img-icon{
		cursor: none !important;
		position: absolute !important;
		bottom: 32px !important;
		left: 32px !important;
		width: 48px !important;
		height: 48px !important;
		/* mix-blend-mode: difference; */
		z-index: 253 !important;
		border-radius: 300px;
	}
	
	.next-img-icon{
		cursor: none !important;
		position: absolute !important;
		bottom: 32px !important;
		right: 32px !important;
		width: 48px !important;
		height: 48px !important;
		/* mix-blend-mode: difference; */
		z-index: 254 !important;
		border-radius: 300px;
	}
	
}

/* Customize banner for laptop mobile and dark / light mode */

/*Tablet & Mobile */
@media only screen and (max-width: 1119px){

	.swiper-slide img{
		border: 6px solid transparent !important;
		border-image: var(--photo-frame) 12 round !important;
	}
	.imagePreviewContainer{
		background-size: 40px !important;
	}
}



#blockForSoundElement{
	width: 100vw;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	position: fixed;
	z-index: 5000;
	background-color: var(--bg-color-100);
	display: flex;
	justify-content: center;
	align-items: center;
}