
/* Header style ====================================== */

.header{
	display: flex;
	position: fixed;
	z-index: 99;
	gap: 48pt;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	height: 48pt;
	transition: 0.3s ease-in-out;
}

.header:hover{
	background: rgba(0, 0, 0, 0.2);
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.scolled-header{
	background: rgba(0, 0, 0, 0.2);
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

.header > span{
	width: 100pt;
	color: white;
	text-align: center;
}

#logoAnimation {
  width: 48px;
  height: 48px;
  opacity: 0.8;
}


/* Hero banner ====================================== */

.hero-banner{
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


#scrollToExplore{
	position: absolute;
	bottom: -5px;
}


.hero-banner > span{
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 900;
	font-size: 48pt;
	line-height: 52pt;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.12em;
	color: #FFFFFF;
	font-stretch: 125%;
	text-transform: uppercase;
	box-sizing: border-box;
}

/* landscape-section ====================================== */

.landscape-section{
	display: flex;
	flex-direction: column;
	gap: 16pt;
	height: 120vh;
	padding: 72pt 48pt;
	align-items: center;
}

.landscape-section > div {
	flex-grow: 1;
	align-self: stretch;
	display: flex;
	box-sizing: border-box;
	gap: 1pt;
	text-transform: uppercase;
}

.landscape-section > div > div{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
/*	flex-grow: 1;*/
	background-position: center !important;
	background-size: cover !important;
	flex-basis: 20%;
	opacity: 0.7;
	transition: 0.3s ease-in-out;
	text-align: center;
}

.landscape-section > div > div:hover{
	opacity: 1;
	letter-spacing: 2pt;
}


/* Call-to-action Button ====================================== */

.CTA{
	border-radius: 100pt;
	padding: 16px 24px;
	border: none;
	text-transform: uppercase;
	color: black;
	background-color: white;
	opacity: 1;
	transition: 0.4s ease-in-out;
}

.CTA:hover{
	opacity: 0.4;
}


.CTA:active{
	opacity: 0.8;
}


/* Footer ====================================== */

.footer{
	left: 0;
	right: 0;
	display: flex;
	gap: 24px;
	padding: 32px;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	border-top: 0.5px solid rgba(255, 255, 255, 0.2);
}

.footer > span{
	flex-grow: 1;
	color: rgba(255, 255, 255, 0.8);
}

span > a {
	color: white;
}

a:visited{
	color: #FFFFFF;
}

a{
	text-decoration : none;
}

.footer img{
	opacity: 0.6;
}

.footer img:hover{
	opacity: 1;
}

.footer > div{
	display: flex;
	flex-direction: row;
	gap: 32px;
}

@media only screen and (min-width: 1120px){
	.footer{
		flex-direction: row;
	}
	.footer > span{
		text-align: left
	};
}

@media only screen and (max-width: 1119px) {
	.header{
		gap: 0px !important;
	}
	.footer{
		flex-direction: column;
	}
	.footer > span{
		text-align: center;
	}
	.gallery-container .thumbnail{
		flex: 1 0 26% !important;
	}

	.featured-brand > .logo-list{
		gap: 50px !important;
	}

	.featured-brand img{
		height: 30px !important;
	}
}


@media only screen and (min-width: 1120px) and (prefers-color-scheme: light) {
	.hero-banner{
		background: url('../asset/image/banner-laptop-light.jpeg');
		background-position: center;
		background-size: cover;
	}
}

@media only screen and (min-width: 1120px) and (prefers-color-scheme: dark) {
	.hero-banner{
		background: url('../asset/image/banner-laptop-dark.jpeg');
		background-position: center;
		background-size: cover;
	}
}

@media only screen and (max-width: 1119px) and (prefers-color-scheme: light) {
	.hero-banner{
		background: url('../asset/image/banner-mobile-light.jpeg');
		background-position: center;
		background-size: cover;
	}
}

@media only screen and (max-width: 1119px) and (prefers-color-scheme: dark) {
	.hero-banner{
		background: url('../asset/image/banner-mobile-dark.jpeg');
		background-position: center;
		background-size: cover;
	}
}

/* Style for gallery page ====================================== */


.gallery-container{
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
	/* margin-top: 72px; */
	justify-content: flex-start;
	align-items: center;
	padding: 3px;
	box-sizing: border-box;
	overflow: hidden;
}

.gallery-container .thumbnail{
	cursor: pointer;
	box-sizing: border-box;
	aspect-ratio: 1 / 1;
	flex: 1 0 19%;
	transition: all 0.5s ease-in-out;
	position: relative;
}

.gallery-container .thumbnail:hover{
	opacity: 0.3 !important;
}

#imagePreview{
	position: fixed;
	display: none;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 128, 0, 0.467);
	z-index: 101;
	transition: 0;
}

#overlay{
	position: fixed;
	display: none;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 100;
}

.closeBtt{
	cursor: pointer;
	position: fixed;
	top: 16px;
	right: 32px;
	width: 32px;
	height: 32px;
}



/* About page ====================================== */

.bio, .featured-brand, .contact{
	color: rgb(193, 193, 193);
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: flex-start;
	align-items: center;
	margin: 100px 40px;
}

.bio > img{
	width: 152px;
}

.bio span{
	max-width: 1000px;
	width: 80%;
	min-width: 300px;
	text-align: center;
}

.featured-brand > .logo-list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 32px;
	max-width: 1200px;
	width: 80%;
	min-width: 300px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.featured-brand img{
	height: 50px;
	opacity: 0.8;
}

.featured-brand img:hover{
	opacity: 1;
}

.contact > div{
	display: flex;
	flex-direction: row;
	gap: 32px;
}